
html {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: #222;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #222;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

main {
  display: block;
}

li{
  list-style:none;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  Sfont-weight: bold;
}


/*header*/


.header1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header1 {
  width: 100%;
  position: absolute;
}

/*header レスポンシブ*/
@media (max-width: 1080px) {
  .header1 {
    background-color: #fff;
    z-index: 10;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header-width {
  max-width: 100%;
  margin: 0 31px 0 36px;
}

.contents-tidy{
  justify-content: space-between;
}

/*header-width レスポンシブ*/
@media  (max-width: 767px) {
  .header-width {
    max-width: 100%;
    margin: 0 31px 0 36px;
  }
}


/*header-logo*/

.header-logo > .header-logo-pc {
  width: auto;
  height: 20px;
}

.header-logo > .header-logo-sp {
  display: none;
}

/*header-logo レスポンシブ*/
@media  (max-width: 767px) {
  .header-logo > .header-logo-pc {
    display: none;
  }
  
  .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
  }
}

/*header nav*/

nav {
  display: block;
}

.header-nav-hamburger {
  display: none;
}

.header-nav-list.contents-tidy {
  align-items: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.header-nav .header-nav-item {
  display: block;
}

.header-nav .header-nav-item > span:first-child {
  font-family: 'Lato', sans-serif;
}

.header-nav .header-nav-item > span:last-child {
  font-size: 10px;
}

.header-nav .header-nav-list > li + li {
  margin-left: 45px;
}


.header-nav .header-nav-item > span {
  display: block;
  font-weight: bold;
  text-align: center;
}

/*header-nav レスポンシブ*/
@media  (max-width: 1080px) {
  .header-nav .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
  
  .header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
  }
  
  .header-nav .header-nav-hamburger-line:first-child {
    top: 0;
  }
  
  .header-nav .header-nav-hamburger-line:last-child {
    top: 100%;
  }
  
  .header-nav .is-active .header-nav-hamburger-line {
    will-change: top;
    transform: translate(20px, -50%);
    opacity: 0;
  }
  
  .header-nav .is-active .header-nav-hamburger-line:first-child {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
  }
  
  .header-nav .is-active .header-nav-hamburger-line:last-child {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    opacity: 1;
  }
  
  .header-nav .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
  }
  
  .header-nav .header-nav-list.is-active {
    transform: translate3d(-100%, 0, 0);
  }
  
  .header-nav .header-nav-list.is-scroll {
    top: 60px;
    bottom: 0;
  }
  
  .header-button-outline {
    margin-top: 20px;
  }
  
  .header-nav .header-nav-list > li + li {
    margin-left: 0;
  }
  
  .header-nav .header-nav-item {
    padding: 20px 0;
  }
  
  .header-nav .header-nav-item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
  }
  
  .header-nav .header-nav-item > span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
  }
}

@media (max-width: 767px) {
  .header-nav .header-nav-list {
    top: 52px;
  }
  
  .header-nav .header-nav-list.is-scroll {
    top: 52px;
    bottom: 0;
  }
}


/*header-nav button*/
.header-nav-list > li + li:last-child {
  margin-left: 30px;
}

.header-button{
  width:150px;
}

.link-button.menu {
  height: 40px;
  font-size: 12px;
}

.header-button a {
  height: 40px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  border: none;
  width:100%;
  color: #fff;
}

/*header-nav-button レスポンシブ*/
@media  (max-width: 1080px) {
  .header-button {
    margin: 0 auto;
    width: 250px;
  }
  
  .header-nav-list > li + li:last-child {
    margin-left: 0;
  }
}

/*main レスポンシブ*/
@media  (max-width: 1080px) {
  main {
    padding-top: 60px;
  }
}

@media  (max-width: 767px) {
  main {
    padding-top: 52px;
  }
  
  html {
    font-size: 15px;
  }
}

/*potepancanp 01*/
.section1 {
  padding-top: 190px;
  padding-bottom: 28px;
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero.png);
  background-size: auto 100%;
  background-position: right 0;
  background-repeat: no-repeat;
}

.content-width {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section1-box .section1-box-heading > img {
    width: 100%;
    height: auto;
}

.section1-box {
    position: relative;
    max-width: 337px;
}

.section1-box .section1-box-text {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.7;
}

.No1-notation{
  margin: 0;
  position: absolute;
  top: 0;
  right: -170px;
}

.No1-notation img {
  width: 154px;
  height: 154px;
}

.section1-text {
  color: #888;
  font-size: 10px;
  max-width: 512px;
  padding-top: 132px;
}

.section1-text p {
  line-height: 1.5;
}

/*section1 レスポンシブ*/

@media  (max-width: 1024px){
  .section1-box .No1-notation {
    top: -168px;
    right: 0;
    left: -28px;
}
}

@media(max-width: 767px) {
  .section1 {
    padding-top: 258px;
    padding-bottom: 12px;
    background-image: url(	https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero-sp.png);
  }
  
  .section1 .section1-text {
    padding-top: 24px;
  }
  
  .section1-box {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section1-box > * + * {
    margin-top: 20px;
  }
  
  .section1-box .section1-box-text {
    font-size: 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
  
  .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  
}
}

.section1-box {
  position: relative;
  max-width: 337px;
}

.section1-box .section1-box-ext {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.7;
}

.section1-box-text span {
  color: #f79314;
}

.section1-box-button {
  font-size: 16px;
}

.section1-box-button a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  border: none;
}

@media screen and (max-width: 414px) {
  .section1 .section1-text {
    text-align: center;
  }
  .section1 .section1-box .No1-notation {
    top: -110px;
    left: -9px;
  }
  .section1 .section1-box .No1-notation img {
    width: 88px;
    height: 88px;
  }
}

/*potepancanpとは*/

.section2{
  background-color: #f79314;
  padding-top: 45px;
  padding-bottom: 80px;
}

.section2 {
  padding-bottom: 80px;
}

a {
  color: #222;
  text-decoration: none;
}

.banner-for-students {
  width: 100%;
  margin-bottom: 50px;
}
.banner-for-students--sp {
  display: none;
}

/*section2 レスポンシブ*/

@media (max-width: 1080px) {
  .top-about-button a {
    height: 60px;
    font-size: 16px;
  }
  
}

@media (max-width: 1024px) {
  .section2 {
  flex-direction: column;
  width: 100%;
  }
  
  .about-text, .top-about-button {
   width: 100%;
  }
  
  .about-text + .top-about-button {
    margin-top: -130px;
    width: 250px;
    
  }
  
}

@media (max-width: 767px) {
  .section2 {
    flex-direction: column;
  }
  
  .about-text, .top-about-button {
    width: 100% !important;
  }
  
  .about-text + .top-about-button {
    margin-top: 0px;
  }
  
  .about-text h2 {
    font-size: 26px;
    text-align: center;
  }
  
  .about-text h2 > span {
    font-size: 30px;
  }
  
  .banner-for-students--pc {
    display: none;
  }
  
  .banner-for-students--sp {
    display: block;
    margin: 0 0 50px 5px;
  }
 
  .top-about-button a {
    font-size: 20px;
  }
  
  .top-about-button aspan:last-child {
    font-size: 12px;
  }
  
  .top-about-button a .no-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .banner-for-students--sp {
    margin: 0 0 50px 7.5px;
  }
}

@media (max-width: 414px) {
  .banner-for-students--sp {
    margin: 0 0 50px 5px;
  }
}

.top-about .contents-tidy {
  align-items: center;
}

.about-text {
  color: #fff;
  width: 53%;
}

.about-text h2{
  font-size: 40px;
  letter-spacing: 1px;
}

.about-text h2 > span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.about-text p {
  font-weight: 700;
  margin-top: 15px;
  line-height: 2.3;
}

.top-about-button {
  width: 320px;
  float: right;
  margin-top: -130px;
}

/*potepancanpの特徴*/

.section3 {
  padding-top: 75px;
  padding-bottom: 80px;
}

.section3-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}


.section3-header {
  width: 100%;
}


.section3-heading {
  font-size: 46px;
  font-weight: bold;
}

.section3-header h2 > span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.section3-header.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}

.section3 .section3-header + .section3-content {
  margin-top: 60px;
}

.desc-list .example-title::after {
  content: '';
  display: block;
  border-bottom: solid 4px #f79314;
  margin-top: 10px;
}

.section3.top-about {
  background-color: #f79314;
  padding-top: 45px;
}
.section3.top-potepan {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}

.top-potepan .content-width {
  background-image: url(../images/bg-section-top-course.png);
  background-size: 281px 275px;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) top;
  padding-top: 35px;
}

.section3.top-potepan > * {
  position: relative;
  z-index: 1;
}
.section3.top-service, .section3.top-works {
  background-color: #fcfaf5;
}

.desc-list.list-number {
  margin-top: 110px;
}


@media screen and (max-width: 767px) {
  .-section3 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section3 .section3-header + .section3-content {
    margin-top: 50px;
  }
  
  .section3.top-potepan .section3-content {
    margin-top: 50px;
  }
  .section3.top-potepan .course-list {
    padding: 0 20px;
  }
  .section3.top-potepan .section3-content {
    padding-left: 0;
    padding-right: 0;
  }
  .top-potepan .content-width {
    background: none;
    padding-top: 0;
  }
  .section3.top-potepan {
    padding: 60px 0;
  }
  
}
.section3-button {
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media  (max-width: 767px) {
  .section3-button {
    margin-top: 40px;
    max-width: 250px;
  }
}
.slick-dots li button {
  background-size: contain !important;
}

.section3-movie-pc{
  text-align: center;
}
.section3-movie-sp{
  display: none;
}


@media  (max-width: 767px) {
  .section-movie-pc{
    display: none;
  }
  .section-movie-sp {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: -50px;
  }
  .section-movie-sp iframe {
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    height: 100%;
  }
  .section-movie-sp:before {
    content: "";
    display: block;
    padding-top: 56%;
  }
}

.section3-box-heading {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.section3-box-heading > span {
  font-family: 'Lato', sans-serif;
}

.section3-box-heading {
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .section3-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
  }
  .section3-header h2 > span, .section3n-heading span {
    font-size: 30px;
  }
  .section3-box-heading {
    font-size: 14px;
  }
  .section3-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
  }
  }



/*エンジニア転職に強い*/

.desc-list > li {
  background-color: #fcfaf5;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
  margin-bottom: 100px;
}

.list-no {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -90px auto 0 auto;
  background-color: #fcfaf5;
  border-radius: 50%;
  color: #f79314;
  font-weight: bold;
  font-size: 40px;
}


.desc-list .list-title {
  font-weight: bold;
  font-size: 30px;
  margin-top: -20px;
  letter-spacing: 1px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.desc-list .list-text {
  font-size: 16px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 2;
}

.desc-list .list-text span {
  color: #f79314;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1;
}

.desc-list .example-list {
  margin: 0 -60px;
}

.desc-list .example-title {
  display: inline-block;
}

@media  (max-width: 1080px) {
  .desc-list .example.performance {
    padding: 30px;
  }
}

@media  (max-width: 767px) {
  .desc-list .example {
    padding: 20px;
  }
  
  .desc-list .example.performance {
    padding: 20px;
  }
}

@media  (max-width: 1080px) {
  .desc-list .example-list {
    margin: 0 -30px;
  }
  
  .desc-list .example-list > li {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .desc-list > li {
    padding: 30px 20px 20px 20px;
  }
  .desc-list .example-list {
    flex-wrap: wrap;
    margin: 0;
  }
  .desc-list .example-list > li {
    padding: 0;
  }
  .desc-list .example-list > li:first-child {
    margin: 0 auto;
    width: 80%;
  }
  .desc-list .example-list > li + li {
    width: 45%;
    margin-top: 30px;
  }
  .desc-list .example-list > li + li img {
    width: 100%;
  }

  .desc-list .example-list img {
    height: intrinsic;
  }
}

@media  (max-width: 1080px) {
  .list-text .sp-dn {
    display: none;
  }
}


@media  (max-width: 767px) {
  .desc-list.list-number {
    margin-top: 90px;
  }
  
  .desc-list .list-no {
    margin-top: -70px;
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  
  .desc-list > li + li {
    margin-top: 90px;
  }
  
  .desc-list .list-title {
    font-size: 20px;
    margin-top: -10px;
  }
  
  .desc-list .list-text {
    font-size: 15px;
    line-height: 2.2;
  }
  
  .desc-list .list-text .sp-none {
    display: none;
  }
  
  .desc-list .list-text span {
    font-size: 24px;
  }
  
  .desc-list .curriculum-appeal {
    margin-bottom: 4px !important;
  }
  
  .desc-list .curriculum-appeal > li {
    display: block;
    margin: 0 auto !important;
    width: calc(100% - 8px) !important;
  }
  
  .desc-list .curriculum-appeal .photo-description {
    margin-bottom: 16px;
  }
  
  .desc-list .curriculum-appeal .appeal-description2 {
    margin: 0;
  }

  
  .desc-list .curriculum-appeal .photo-description img {
    width: 100% !important;
  }
  
  .desc-list .curriculum-appeal .photo-description span {
    display: block;
  }
  
  .desc-list .curriculum-appeal .appeal-description {
    margin: 0;
  }
}

.desc-list .example-title {
  display: inline-block;
}

.example-title-heading {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  vertical-align: bottom;
  line-height: 1;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.desc-list .example-title img {
  margin-left: 10px;
  width: 34px;
  height: auto;
}



.desc-list .example-title::after {
  content: '';
  display: block;
  border-bottom: solid 4px #f79314;
  margin-top: 10px;
}

.desc-list .example-contents {
  margin:32px 0px 10px 0px;
}

.example-contents.contents-tidy {
  flex-wrap: wrap;
}


.desc-list .example-contents > li {
  display: flex;
  width: 31%;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.desc-list .example-contents img {
  width: 60px;
  height: 60px;
}


.desc-list .example-contents .example-introduction {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 10px 16px;
  text-align: left;
}

.desc-list .example-contents .example-introduction p {
  color: rgba(0, 0, 0, 0.87);
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.desc-list .example-contents .last-line {
  margin-bottom: 0;
}

@media (max-width: 1080px) {
  .desc-list .example-contents > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media  (max-width: 767px) {
  .example-title-heading {
    font-size: 16px;
  }
  
  .desc-list .example-contents {
    margin: 14px 0 0 0;
  }
  
  .desc-list .example-contents > li {
    margin-bottom: 24px;
    width: 100%;
    padding: 10px 5px;
  }

  .desc-list .example-contents-company > li {
    margin: 0;
    padding: 0 !important;
    width: 50% !important;
}
}



/*現場が認めるカリキュラム*/

.desc-list .curriculum-appeal .appeal-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 16px;
}

.desc-list .curriculum-appeal .appeal-description > p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 30px;
}

.appeal-description{
  float: right;
  margin-top: -300px;
  margin-right: 65px;
}

.desc-list .curriculum-appeal .appeal-description2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 16px;
}

.desc-list .curriculum-appeal .appeal-description2 > p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.appeal-description2{
  float: right;
  margin-top: -320px;
  margin-right: 80px
}

.desc-list .curriculum-appeal > li {
  padding: 0 30px;
  text-align: left;
  width: 100%;
}

.desc-list .curriculum-appeal .photo-description {
  color: #a2a2a4;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.desc-list .curriculum-appeal .photo-description img {
  width: 390px;
  margin-bottom: 5px;
}


/*経験豊富なエンジニア陣がレビュー*/

.desc-list .example.performance {
  padding: 40px 0px;
}

.engineer-list {
  margin-top: 45px;
  margin-left: -15px;
  margin-right: -15px;
}

.engineer-list .engineer-box {
  background-color: #fff;
  border-radius: 15px;
  margin: 0 15px;
  width: calc(100% / 3);
}

.engineer-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding: 20px;
}

.engineer-conpany-logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.engineer-conpany-logo > img {
  width: 100%;
}


.engineer-profile {
  display: flex;
  align-items: center;
  width: 100%;
}

.engineer-name.contents-tidy {
  flex-direction: column;
}


.engineer-name {
  text-align: start;
  margin-left: 15px;
  font-size: 20px;
}

.engineer-name > span {
  color: #f79314;
  font-size: 14px;
}

.engineer-text {
  width: 100%;
  position: relative;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: start;
}

.engineer-text::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 29px;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #f6f6f6;
}

@media  (max-width: 767px) {
  .engineer-list {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
  .engineer-list .engineer-box {
    margin-left: 0;
    margin-right: 0;
  }
  .engineer-text {
    font-size: 15px;
  }
  .engineer-media {
    padding: 10px 20px 20px;
  }
  .engineer-media .engineer-text > p {
    line-height: 2;
  }
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	width: 960px;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	outline: none;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}
/*卒業後の紹介企業が多数*/


.desc-list .example {
  background-color: #fff;
  width: 100%;
  margin-top: 40px;
  border-radius: 20px;
  padding: 30px;
  padding-left: 0px;
  padding-right: 0;
}



.desc-list .example-contents-company {
  justify-content: start;
  margin: 0;
}

.desc-list .example-company {
  padding: 28px 0px;
}

.desc-list .example-contents-company > li {
  height: 71px;
  margin: 12px 0;
  padding: 0;
  width: 25%;
}

.desc-list .example-contents-company .img-box {
  align-items: center;
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  width: calc(100% + 50px);
}

.desc-list .example-contents-company img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
}

/*サポート体制も充実*/


.desc-list .example-contents-support {
    display: block;
    justify-content: start;
    margin: 0;
    padding: 10px;
}

.desc-list .example-contents-support > li {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  list-style: disc;
  list-style-position: inside;
  margin-left: 1.4em;
  text-align: left;
  text-indent: -1.4em;
  width: 100%;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.desc-list .example-contents-support-supplement {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 6px 0 10px;
  text-align: left;
}
/*選べるコース*/

.section4 {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}

.section4 .top-potepan > * {
  position: relative;
  z-index: 1;
}

.section4 .content-width {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
  background-size: 281px 275px;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) top;
  padding-top: 35px;
}

.section4-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}

.section4-header {
  width: 100%;
}

.section4-heading {
  font-size: 46px;
  font-weight: bold;
}

.section4-header h2 > span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.pc-dn {
  display: none !important;
}

.section4-box-heading {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.section4-box-heading > span {
  font-family: 'Lato', sans-serif;
}

.section4-header.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}

.section4 .section4-header + .section4-content {
  margin-top: 60px;
}

ul, ol {
  list-style: none;
}

.course-media {
  font-weight: bold;
  padding: 45px;
  background-color: #fff;
}


a {
  color: #222;
  text-decoration: none;
}

.course-media.career .course-title {
  border-image: linear-gradient(to right, #f79214 0%, #f74e06 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.course-title p {
  color: #f77f14;
  margin-bottom: 7.5px;
  font-size: 18px;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

.course-title.contents-tidy {
  justify-content: center;
  align-items: center;
}

.course-title {
  width: 30%;
  margin-right: 30px;
  border: solid 3px;
}

.course-title h3 {
  font-size: 24px;
}

.course-title .contents-tidy {
  flex-direction: column;
  text-align: center;
}

.course-contents {
  width: calc(70% + 30px);
  position: relative;
}

.course-media.career .course-text {
  color: #f77f14;
  font-size: 24px;
}

.course-contents > div {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.course-contents > div p:first-of-type {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(90deg, #212121, #444);
  padding: 6px 16px;
  border-radius: 20px;
  margin-right: 15px;
}

.course-contents > div p:last-of-type {
  font-size: 18px;
}

.course-contents > div {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.course-contents > div p:first-of-type {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(90deg, #212121, #444);
  padding: 6px 16px;
  border-radius: 20px;
  margin-right: 15px;
}

.course-link {
  position: absolute;
  right: 20px;
  bottom: -5px;
  font-size: 12px;
  color: #999;
}


.course-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 4px;
  right: -18px;
  border-right: solid 3px #f79214;
  border-top: solid 3px #f79214;
  transform: rotate(45deg);
}


.section4-button {
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.link-button.inversion {
  color: #f79314;
  background-color: #fff;
  margin-right: 10px;
}

.link-button span:last-child {
  font-size: 14px;
}

/*選べるコース　レスポンシブ*/
@media  (max-width: 767px) {
  .section4 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section4 .section4-header + .section4-content {
    margin-top: 50px;
  }

  .section4.top-potepan .section4-content {
    margin-top: 50px;
  }
   .course-list {
    padding: 0 20px;
  }
  .section4.top-potepan .section4-content {
    padding-left: 0;
    padding-right: 0;
  }
  .content-width {
    background: none;
    padding-top: 0;
  }
  .section4.top-potepan {
    padding: 60px 0;
  }
  
  ul{
    padding-inline-start: 0px;
  }
  
  .section4-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
}
}
.section4-button {
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media  (max-width: 767px) {
  .section4-button {
    margin-top: 40px;
    max-width: 250px;
  }
  
  .course-list > li + li {
    margin-top: 60px;
  }
  
  .course-media {
    flex-direction: column;
    padding: 25px;
  }
  
  .course-title {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .course-contents {
    width: 100%;
    margin-top: 25px;
    padding-right: 0;
  }
  
  .course-text {
    line-height: 1.5;
  }
  
  .course-contents > div {
    margin-top: 25px;
  }
  
  .conditions-list {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 0;
  }
  
  .course-link {
    position: static;
    text-align: right;
    margin-top: 25px;
    padding-right: 20px;
  }
  
  .course-link::after {
    right: 0;
  }
  
 .course-contents > div p:first-of-type {
    word-break: keep-all;
}

 .section4-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
}
}


/*サービスの想い*/
.section5 {
  background-color: #fcfaf5;
}

.section5 {
  padding-top: 75px;
  padding-bottom: 80px;
}

.section5-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}

.section5-header {
  width: 100%;
}

.section5-heading {
  font-size: 46px;
  font-weight: bold;
}


.section5-box-heading {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.section5-header.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}

.section5 .section5-header + .section5-content {
  margin-top: -135px;
}

.message-title {
  display: inline-block;
  font-size: 50px;
  color: #ff802c;
  background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  letter-spacing: 3px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-top: 200px;
}

.message-contents.contents-tidy {
  align-items: center;
}
.message-contents {
  margin-top: -70px;
  position: relative;
}

.message-text {
  background-color: #fff;
  padding: 40px 150px 40px 40px;
  margin-right: -100px;
}

.message-text p {
  line-height: 2;
  font-weight: 500;
}

.message-text p + p {
  margin-top: 40px;
}

.message-thumbnail {
  position: relative;
}

.message-thumbnail p {
  position: absolute;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 10px #808080;
}

.message-thumbnail p span {
  font-size: 24px;
}

img {
  border: 0;
  vertical-align: middle;
}

/*サービスの想い　レスポンシブ*/

@media  (max-width: 767px) {
  .section5 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section5 .section5-header + .section5-content {
    margin-top: -130px;
  }

  .course-list {
    padding: 0 20px;
  }
  .section5-content {
    padding-left: 0;
    padding-right: 0;
  }
  
  .section5-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
  }
  .section5-header h2 > span, .section5-heading span {
    font-size: 30px;
  }
  .section5-box-heading {
    font-size: 14px;
  }
  .section5-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .message-contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
  }
  
  .message-title {
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .message-text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
  }
  
  .message-thumbnail {
    order: 1;
  }
  
  .message-thumbnail > img {
    width: 100%;
  }
}

@media screen and (max-width: 413px) {
  .message-thumbnail p {
    font-size: 14px;
    font-size: 12px;
    padding: 15px;
  }
  
  .message-thumbnail p span {
    font-size: 20px;
  }
}

@media screen and (max-width: 374px) {
  .message-thumbnail p {
    padding: 5px;
  }
}



/*受講生の声*/

.section6 {
  padding-top: 75px;
  padding-bottom: 80px;
}

.section6-header.contents-tidy {
  flex-direction: column;
  align-items: center;
}

.section6-header {
  width: 100%;
}

.section6-heading {
  font-size: 46px;
  font-weight: bold;
}

.section6-box-heading {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.section6-header.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}

.section6 .section6-header + .section6-content {
  margin-top: -150px;
}

/*受講生の声　レスポンシブ*/

 @media(max-width: 767px) {
  .section6 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section6-heading {
    text-align: center;
    font-size: 26px 
    line-height: 1.2;
  }

 .section-sub-heading {
  font-size: 14px;
  }

  .section6-heading {
    text-align: center;
    font-size: 26px ;
    line-height: 1.2;
  }
  .section6-header h2 > span, .section6-heading span {
    font-size: 30px;
  }
  .section6-box-heading {
    font-size: 14px;
  }
  .section6-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
  }
}


.interview-list {
  margin-left: -20px;
  margin-right: -20px;
}

.contents-tidy {
  display: flex;
}

.interview-list > li {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% / 3);
  margin-top: 200px;
}

.interview-media .interview-media-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.interview-media .interview-media-thumbnail {
  position: relative;
  padding-top: 100%;
}

.interview-media-thumbnail {
 overflow: hidden;
}

.interview-media .interview-thumbnail-titlebox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 20px 15px;
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
  font-size: 16px;
  font-weight: bold;
  color: #f79314;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 5px;
  padding-top: 4px;
  border-top: 1px solid #fff;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
  font-size: 20px;
}

.interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
  font-size: 12px;
  margin-left: 15px;
}

.interview-media .interview-media-text {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
}

a {
  color: #222;
  text-decoration: none;
}

.pc-dn {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .pc-dn {
    display: block !important;
  }
  .sp-dn {
    display: none !important;
  }
}


/*interview レスポンシブ*/

@media screen and (max-width: 1070px) {
  .interview-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  
  .interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
  }
}

@media screen and (max-width: 840px) {
  .interview-list {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 560px) {
  .interview-list {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.section6-button {
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #f79314;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: none;
}

.link-button span:first-child {
  letter-spacing: 4px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.link-button span:last-child {
  font-size: 14px;
}

/*section6-button レスポンシブ*/
@media  (max-width: 767px) {
  .section6-button {
    margin-top: 40px;
    max-width: 250px;
  }
}

/*footer*/

.site-footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f79314;
}

/*site-footer レスポンシブ*/
@media screen and (max-width: 767px) {
  .site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .site-footer-main {
    display: block;
    text-align: center;
  }
  .site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
  }
  .site-footer-main .footer-nav-and-character {
    margin-top: 30px;
  }
  .site-footer-main .footer-nav-and-character .footer-character {
    margin: 34px auto;
  }
  .site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
  }
  .site-footer-sub {
    text-align: center;
  }
  
  .footer-info .footer-social {
    justify-content: center
  }
}

.page-top-button.contents-tidy {
  align-items: center;
  justify-content: center;
}
.page-top-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -105px;
  right: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 12px 30px -15px;
  transition: 0.2s;
}

.page-top-arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-left: solid 3px #f79214;
  border-top: solid 3px #f79214;
  transform: rotate(45deg);
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.site-footer-main .footer-nav {
  order: 2;
}

.footer-nav-item {
  font-size: 16px;
  font-weight: bold;
}

.footer-nav-item:link, .footer-nav-item:visited {
  color: #fff;
}

.footer-nav-item > span {
  font-weight: normal;
  margin-left: 1em;
}


.site-footer-main .footer-nav-and-character {
  order: 3;
}

.site-footer-main .footer-nav-and-character .footer-nav {
  align-self: flex-start;
}

.footer-nav > li + li {
  margin-top: 30px;
}

.site-footer-main .footer-nav-and-character .footer-character {
  align-self: flex-end;
  margin: 90px 0 0 40px;
}

.site-footer-main .footer-nav-and-character .footer-nav {
  align-self: flex-start;
}

.site-footer-main .footer-nav-and-character .footer-character {
  align-self: flex-end;
  margin: 90px 0 0 40px;
}

.footer-character > img {
  width: auto;
  height: 70px;
}



.footer-info {
  display: block;
  color: #fff;
}

.site-footer-main .footer-info {
  order: 1;
}

address {
  font-style: normal;
}

.footer-info .footer-logo {
  display: inline-block;
  max-width: 280px;
}


a {
  color: #222;
  text-decoration: none;
}

.footer-info .footer-logo > img {
  width: 100%;
  height: auto;
}


.footer-info .footer-logo + .footer-company {
  margin-top: 25px;
}

.footer-info .footer-company + .footer-address {
  margin-top: 10px;
}

.footer-info .footer-address + .footer-social {
  margin-top: 35px;
}

.footer-info .footer-social {
  display: flex;
}

.footer-info .footer-social-item {
  display: block;
  max-width: 60px;
}

.footer-info .footer-company, .footer-info .footer-address {
  font-size: 16px;
  font-weight: bold;
}

.footer-info .footer-social > li + li {
  margin-left: 20px;
}

.footer-info .footer-social-item > img {
  width: 100%;
  height: auto;
}


.site-footer .site-footer-main + .site-footer-sub {
  margin-top: 60px;
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
}




